* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #518acc; /* Old browsers */
    background: -moz-linear-gradient(left, #4cb4f6 8%, #007FCC 85%, #0270b2); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4cb4f6 8%, #007FCC 85%, #0270b2); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4cb4f6 8%, #007FCC 85%, #0270b2); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#518acc', endColorstr='#9ec5e3',GradientType=1 );  /* IE6-9 */
}

.wrapper {
    text-align: center;
    text-transform: uppercase;
}

.title {
    letter-spacing: 3px;
    margin: 4rem auto;
}

.btn-wrapper {
    width: 440px;
    margin: 0 auto;
    display: flex;
}
.btn {
    text-transform: uppercase;
    margin: 0 20px;
    flex: 1;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 8px 0;
    border: none;
    color: black;
    cursor: pointer;
    background: #efdab3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#efdab3 80%, #ffb224); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#efdab3 80%, #ffb224); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#efdab3 80%, #ffb224); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#efdab3 80%, #ffb224); /* Standard syntax */
}
.btn-active {
    background: #ffb224; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f3cf8c, #ffb224); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f3cf8c, #ffb224); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f3cf8c, #ffb224); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f3cf8c, #ffb224); /* Standard syntax */
}

.form {
    border: 1px solid orange;
    width: 440px;
    margin: 4rem auto;
    padding: 2rem;
}

.output-wrapper {
    display: flex;
}

.temp-name {
    font-size: 1.2rem;
    color: seashell;
    letter-spacing: 2px;
    text-align: left;
    border: none;
    box-shadow: none;
    margin: 1rem auto;
    display: inline;
    width: 340px;
    flex: 9;
}

.temp-value {
    float: right;
    font-size: 1.2rem;
    color: seashell;
    margin: 1rem auto;
    flex: 1;
}

hr {
    margin: 2rem auto;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}