* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #518acc; /* Old browsers */
    background: -moz-linear-gradient(left, #4cb4f6 8%, #007FCC 85%, #0270b2); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4cb4f6 8%, #007FCC 85%, #0270b2); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4cb4f6 8%, #007FCC 85%, #0270b2); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#518acc', endColorstr='#9ec5e3',GradientType=1 );  /* IE6-9 */
}

.wrapper {
    text-align: center;
    text-transform: uppercase;
}

.title {
    letter-spacing: 3px;
    margin: 4rem auto;
}

.form {
    border: 1px solid orange;
    width: 440px;
    margin: 4rem auto;
    padding: 2rem;
}

.input {
    font-size: 1.2rem;
    border: none;
    text-align: center;
    box-shadow: none;
    margin: 1rem auto;
    display: block;
    width: 240px;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 240px;
    font-size: 1.2rem;
    letter-spacing: 6px;
    color: white;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    background: #0046CC; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#007FCC, #0046CC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#007FCC, #0046CC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#007FCC, #0046CC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#007FCC, #0046CC); /* Standard syntax */
}

.btn:active {
    box-shadow: 3px 3px 7px grey;
    color: #4cb4f6;
}

.result {
    letter-spacing: 2px;
    margin: 2rem auto .5rem;
}